<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><img src="https://drive.google.com/file/d/1dUghp7Vvp6sx6cGifaF50WXxap-Va9k7/view?usp=sharing" alt="" /></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://drive.google.com/thumbnail?id=1IvJu0PFioui-dOl6PoY8C2V8dxlr7Dxx" alt="" /><img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.wixstatic.com%2Fmedia%2Fcc44c7_500fcaa3e67e470699f36270b45643ac~mv2.png%2Fv1%2Ffill%2Fw_600%2Ch_400%2Cal_c%2Fmomconnect-logo.png&amp;imgrefurl=https%3A%2F%2Fwww.jembi.org%2FProject%2FMomConnect&amp;tbnid=mdnevo7b1oUeOM&amp;vet=12ahUKEwiQ6_zt747xAhUW-BoKHeHpCeAQMygAegUIARCLAQ..i&amp;docid=o4T5fnbeMmQfQM&amp;w=600&amp;h=400&amp;q=momconnect%20logo&amp;ved=2ahUKEwiQ6_zt747xAhUW-BoKHeHpCeAQMygAegUIARCLAQ" alt="" /></p>
    <h3 style="text-align: center;"><span style="font-family: Trebuchet MS,Helvetica,sans-serif;">We've received your&nbsp;topup request!</span></h3>
    <p><span style="color:#999999"><span style="font-size:15px">MomConnect is an initiative of the South African National Department of Health produced by the Praekelt Foundation. It uses cell phone based technology to support maternal health. It is available in all the 11 official South African languages. NurseConnect is a related project for maternity staff. It is the only nationally scaled mHealth platform in Africa.</p>
    <h3 style="text-align: center;">&nbsp;</h3>
</body>
</html>
